<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>


<div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
    <h3>You seem to be very busy very frequently!</h3>
    <h3>It's okay to have busy days, but if you're feeling overwhelmed, it's worth it to find ways to lighten your workload. Over-committing will actually make you less happy and less productive in the long run.</h3>
    <h3>Even if you feel like you can't, try reaching out to a trusted friend, mentor or mental health professional. They may be able to help.</h3>
</div>